/*green*/
.headersection,.footersection {background: #6424C9 none repeat scroll 0 0;}
.icon a {background: #2d9d2d none repeat scroll 0 0;}
.searchbtn input[type="text"]{background: #52c252 none repeat scroll 0 0;border: 1px solid #034703;}
.searchbtn input[type="submit"] {border: 1px solid #549854;}
.searchbtn input[type="submit"]:hover{background: #005600 none repeat scroll 0 0;border: 1px solid #52c252;}
input[type="submit"] {background: #005600 none repeat scroll 0 0;border: 1px solid #52c252;}
.navsection {background: #D1C3FA none repeat scroll 0 0;}
.navsection ul li {border-left: 1px solid #6424C9;border-right: 1px solid #38a838;}
.samepost h2 a {color: #6424C9;}
.maincontent,.sidebar {background: #C9FFC9 none repeat scroll 0 0;}
.samepost img {border: 1px solid #D1C3FA;}
.contentsection {border: 1px solid #D1C3FA;}
.samesidebar h2 {background: #6424C9 none repeat scroll 0 0;border-bottom: 2px solid #6424C9;color: #fff;}
.readmore a {border: 1px solid #D1C3FA;color: #D1C3FA;}
.readmore a:hover {color: #6424C9;}
.pagination a {background: #D1C3FA none repeat scroll 0 0;border: 1px solid #6424C9;color: #fff;}
.pagination a:hover {background: #6424C9 none repeat scroll 0 0;border: 1px solid #D1C3FA;color: #fff;}
.footermenu ul li a {color: #D1C3FA;}
.samepost h2, .about h2 {color: #6424C9;}
.about img {border: 1px solid #6424C9;}
.relatedpost h2 {background: #D1C3FA none repeat scroll 0 0;border-bottom: 2px solid #6424C9 !important;}
.popular img {border: 1px solid #6424C9;}
.samesidebar ul li,.popular h3 {border-bottom: 1px dashed #6424C9;}
.samesidebar ul li a {color: #D1C3FA;}
.samesidebar ul li a:hover {color: #6424C9;}